<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>::: Spring with MyBatis :::</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">
	function edit() {
		document.getElementById('form').submit();
	};
</script>
</head>

<body>
	<h3>가게 수정</h3>

	<form id="form" name="form" th:action="@{/shop/edit}" method="post">
		<input type="hidden" id="shopNo" name="shopNo" value="${shop.shopNo}" />

		<table style="width: 100%;" border="1">
			<thead>
				<tr>
					<th width="10%">구분</th>
					<th>내용</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>가게명</td>
					<td style="text-align: left;"><input type="text" id="shopName"
						name="shopName" value="${shop.shopName}" maxlength="20"
						style="width: 200px;" /></td>
				</tr>
				<tr>
					<td>위치</td>
					<td style="text-align: left;"><input type="text"
						id="shopLocation" name="shopLocation" value="${shop.shopLocation}"
						maxlength="100" style="width: 200px;" /></td>
				</tr>
				<tr>
					<td>상태</td>
					<td style="text-align: left;"><select id="shopStatus"
						name="shopStatus">
							<option value="">선택</option>
							<option th:if="${shop.shopStatus == 'Y'}" value="Y">selected="selected"
							</option>
							<option th:if="${shop.shopStatus == 'N'}" value="N">selected="selected"
							</option>
					</select></td>
				</tr>
			</tbody>
		</table>
	</form>

	<div style="text-align: right; padding-top: 10px;">
		<input type="button" id="button_edit" name="button_edit" value="수정"
			title="수정" onclick="edit();" /> <a th:href="{@/shop/list}"> <input
			type="button" id="button_list" name="button_list" value="목록" />
		</a>
	</div>
</body>
</html>
